#sidebar {
	background: $switch-bg;
	color: $switch-text;
	height: 795px; /* Must fill the screen */
	#sidebar_title {
		text-align: center;
		font-size: 20px;
		padding: 20px
	}
	ul {
		list-style-type: none;
		padding: 0;
		border-bottom: 1px solid $switch-bg-secondary;
		.scarlet-fire, #scarlet-fire.active .icon { background: $scarlet-fire; }
		.bright-orange, #bright-orange.active .icon  { background: $bright-orange; }
		.happy-lemon, #happy-lemon.active .icon { background: $happy-lemon; }
		.natures-fresh, #natures-fresh.active .icon { background: $natures-fresh; }
		.calm-vibe, #calm-vibe.active .icon { background: $calm-vibe; }
		.slurpee-royale, #slurpee-royale.active .icon { background: $slurpee-royale; }
		b{
			position: absolute;
			left: -50px;
			width: 100%;
			top: 0px;
			bottom: 0px;
			z-index: 0;
			transition: left 0.25s ease 0s;
		    transition-property: left;
		    transition-duration: 0.25s;
		    transition-timing-function: ease;
		    transition-delay: 0s;
		}
		li:hover b {
			left: 0px;
			transition: left 0.25s ease 0s;
		    transition-property: left;
		    transition-duration: 0.25s;
		    transition-timing-function: ease;
		    transition-delay: 0s;
		}
		.nav-option {
			border-top: 1px solid $switch-bg-secondary;
			padding: 10px;
		}
		.icon {
			border-right: 1px solid	$switch-bg-secondary;
			padding: 10px;
			text-align: center;
		}
	}
}